<doctype html>
<html>
  <head></head>
  <body>
    <form action="<%= action %>" method="post">
      <div>
        <label>Nom d'utilisateur : </label>
        <input type="text" name="username">
      </div>
      <div>
        <label>Mot de passe : </label>
        <input type="password" name="password">
      </div>
      <div>
        <button type="submit"><%= buttonLabel %></button>
      </div>
    </form>
  </body>
</html>
